body{
    margin: 0 auto;
}

input {
    text-overflow: ellipsis;
}

.temp-list{
    margin-top: 120px;
}
.temp-list li p.city-name {
    width: 60%;
    font-size: 16pt;
}

.temp-list li img {
    width: 20%;
}

.temp-list li .degree-box {
    width: 20%;
    text-align: center;
    font-size: 14pt;
}