.modal {
    margin: 0 auto;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFF;
    position: absolute;

}
.modal .container {
    padding: 20px;
}

.modal .container h1{
    font-size: 20pt;
}

.modal .container .icon-close {
    font-size: 20pt;
    position: absolute;
    right: 15px;
}