<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="./css/reset.css" rel="stylesheet">
        <link href="./css/master.css" rel="stylesheet">
        <link href="./css/modal.css" rel="stylesheet">
        <title>Tempo</title>
    </head>
    <body class="col-xl-6 col-lg-6 col-md-10 col-sm-12" >
        <div id="appTempo" class="">
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <div class="container col-12">
                    <h1 class="title col-xl-4 col-lg-4 col-md-4 col-sm-12 mr-1 text-white">TopWeather</h1>
                    <div class="d-flex justify-content-between col-xl-8 col-lg-8 col-md-8 col-sm-12">
                        <input class="form-control col-7" value="" v-model="searchCountry" placeholder="Pesquise por cidade...">
                        <select class="form-control col-5 ml-1" name="" id="" v-model="filterCountry">
                            <option value="">Select Country</option>
                            <option v-bind:value="region" v-for="region in regionSmallToShow">{{ region }}</option>
                        </select>
                    </div>
                </div>
            </nav>           
            <regions :search-by="searchBy"></regions>
            <region-modal></region-modal>
        </div><!-- ./apptempo-->

        <!-- script -->
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
        <script src="./js/master.js"></script>
    </body>
</html>